<table class="table table-condensed box">
  <thead>
    <tr>
      <th>Attributes</th>
      <th>Base</th>
      <th>Implants</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Intelligence</td>
      <td><%= @character.attributes.intelligence %></td>
      <td><%= @character.attributeEnhancers.nil? && @character.attributeEnhancers.intelligenceBonus ? @character.attributeEnhancers.inspect : '-'%></td>
      <td></td>
    </tr>
    <tr>
      <td>Memory</td>
      <td><%= @character.attributes.memory %></td>
      <td><%= @character.attributeEnhancers.nil? && @character.attributeEnhancers.memoryBonus ? @character.attributeEnhancers.memoryBonus.augmentatorValue : '-'%></td>
      <td></td>
    </tr>
    <tr>
      <td>Charisma</td>
      <td><%= @character.attributes.charisma %></td>
      <td><%= @character.attributeEnhancers.nil? && @character.attributeEnhancers.charismaBonus ? @character.attributeEnhancers.charismaBonus.augmentatorValue : '-'%></td>
      <td></td>
    </tr>
    <tr>
      <td>Perception</td>
      <td><%= @character.attributes.perception %></td>
      <td><%= @character.attributeEnhancers.nil? && @character.attributeEnhancers.perceptionBonus ? @character.attributeEnhancers.perceptionBonus.augmentatorValue : '-'%></td>
      <td></td>
    </tr>
    <tr>
      <td>Willpower</td>
      <td><%= @character.attributes.willpower %></td>
      <td><%= @character.attributeEnhancers.nil? && @character.attributeEnhancers.willpowerBonus ? @character.attributeEnhancers.willpowerBonus.augmentatorValue : '-'%></td>
      <td></td>
    </tr>
  </tbody>
</table>