<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Attributes</th>
      <th>Base</th>
      <th>Implants</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Intelligence</td>
      <td><%= @character.attributes.intelligence %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Memory</td>
      <td><%= @character.attributes.memory %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Charisma</td>
      <td><%= @character.attributes.charisma %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Perception</td>
      <td><%= @character.attributes.perception %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Willpower</td>
      <td><%= @character.attributes.willpower %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>