<% content_for :secondary do %>
<nav id="secondary" class="user-nav">
  <div class="character-menu">
    <div class="pull-left">
      <div class="avatar">
        <%= character_portrait(@character.character_id,'64') %>
      </div>
    </div>
    <div class="pull-left">
      <div class="title"><%= @character.name %></div>
    </div>
  </div>
  <ul class="secondary-nav-menu">
    <li><%= active_link_to 'Character', info_character_index_path, :class => 'icon-list-alt' %></li>
    <li><%= active_link_to 'Kill Log', killlog_character_index_path, :class => 'icon-screenshot' %></li>
  </ul>
</nav>
<% end %>
<% content_for :breadcrumb do %>
  <li class="active"><%= link_to @character.name, character_index_path %></li>
<% end %>