<table class="table table-condensed box">
  <tbody>
    <tr>
      <td><b>Date of Birth</b></td>
      <td><%= @character.DoB %></td>
    </tr>
    <tr>
      <td><b>R / B / A</b></td>
      <td><%= @character.race %> / <%= @character.bloodLine %> / <%= @character.ancestry %></td>
    </tr>
    <tr>
      <td><b>Skill Points</b></td>
      <td><%= number_with_delimiter(@info.skillPoints) %></td>
    </tr>
    <tr>
      <td><b>Clone</b></td>
      <td>
        <a href="#" rel="tooltip" title="<%= number_with_delimiter(@character.cloneSkillPoints) %>"><%= @character.cloneName %></a>
      </td>
    </tr>
    <tr>
      <td><b>ISK</b></td>
      <td><%= number_with_delimiter(@character.balance) %></td>
    </tr>
    <tr>
      <td><b>Security Status</b></td>
      <td><%= number_with_precision(@info.securityStatus) %></td>
    </tr>
  </tbody>
</table>