<%= render 'nav' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="tab-header"></div>
        <h2><%= @character.name %></h2>
        <p><%= @character.corporationName ? @character.corporationName : '<span class="muted">No Corporation</span>'.html_safe %><br/>
          <%= @character.allianceName && @character.allianceName.nil? ? @character.allianceName : '<span class="muted">No Alliance</span>'.html_safe %>
        </p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <div class="box">
        <div class="tab-header">Character Sheet</div>
        <%= render 'sheet' %>
      </div>
    </div>
    <div class="span6">
      <div class="box">
        <div class="tab-header">Attributes</div>
        <%= render 'attributes' %>
      </div>
    </div>
  </div>
</div>