<% content_for :secondary do %>
<nav id="secondary" class="user-nav">
  <div class="character-menu">
    <div class="pull-left">
      <div class="avatar">
        <%= character_portrait(@character.characterID,'64') %>
      </div>
    </div>
    <div class="pull-left">
      <div class="title"><%= @character.name %></div>
    </div>
  </div>
  <ul class="secondary-nav-menu">
    <li><%= active_link_to 'Character Sheet', info_admin_user_character_path(@user, @character.characterID) %></li>
    <li><%= active_link_to 'Employment History', employment_admin_user_character_path(@user, @character.characterID) %></li>
    <li><%= active_link_to 'Skills', skills_admin_user_character_path(@user, @character.characterID) %></li>
    <li><%= active_link_to 'Kill Log', killlog_admin_user_character_path(@user, @character.characterID) %></li>
  </ul>
</nav>
<% end %>
<% content_for :breadcrumb do %>
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to @user.username, admin_user_path(@user) %></li>
  <li class="active"><%= link_to @character.name, admin_user_character_path(@user, @character.characterID) %></li>
<% end %>