<div class="page-header">
  <h3><%= link_to 'Users', users_path %> <span class="divider">/</span> <%= @user.username %></h3>
</div>
<div class="row">
  <div class="span12">
    <h5>EVE Info</h5>
    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th>Character/s</th>
          <th>ID</th>
          <th>Corporation</th>
        </tr>
      </thead>
      <tbody>
        <% @eve.Characters.characters.each do |c| %>
          <tr>
            <td><%= link_to c.name, user_character_path(@user, c.characterID) %></td>
            <td><%= c.characterID %></td>
            <td><%= c.corporationName %> <small>(<%= c.corporationID %>)</small></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>