<div class="navbar mt20">
  <div class="navbar-inner">
    <ul class="breadcrumb">
      <li><%= link_to 'Users', users_path %><span class="divider">/</span></li>
      <li class="active"><%= @user.username %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span8">
    <h5>General Info</h5>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @user.name ? @user.name : "empty" %></dd>
      <dt>Username</dt>
      <dd><%= @user.username ? @user.username : "empty" %></dd>
      <dt>Email</dt>
      <dd><%= @user.email ? @user.email : "empty" %></dd>
      <dt>API Id</dt>
      <dd><%= @user.apikey ? @user.apikey : "empty" %></dd>
      <dt>Verification Code</dt>
      <dd><%= @user.secretkey ? @user.secretkey : "empty" %></dd>
    </dl>
  </div>
  <div class="span12">
    <h5>EVE Info</h5>
    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th>Character/s</th>
          <th>ID</th>
          <th>Corporation</th>
        </tr>
      </thead>
      <tbody>
        <% @eve.Characters.characters.each do |c| %>
          <tr>
            <td><%= link_to c.name, user_character_path(@user, c.characterID) %></td>
            <td><%= c.characterID %></td>
            <td><%= c.corporationName %> <small>(<%= c.corporationID %>)</small></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>