<% content_for :breadcrumb do %>
<li class="active"><%= link_to 'Users', admin_users_path %></li>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="tab-header">Users</div>
        <table class="table table-condensed table-hover box">
          <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Registered</th>
              <th><%= link_to 'Serenity', admin_serenity_index_path %></th>
              <th>Role</th>
              <th>EVE API</th>
              <th>EVE Character</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.username, admin_user_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.to_date %></td>
            <td>
              <small>
                <% if user.character %>
                  <%= distance_of_time_in_words(DateTime.now, user.character.cached_until) %> <%= user.character.cached_until.future? ? 'to update' : 'ago' %>
                <% end %>
              </small>
            </td>
            <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
            <td><%= user.apiverified === 1 ? "<span class='text-success'>Verified</span>".html_safe : "<span class='muted'>Invalid</span>".html_safe %>
            </td>
            <td><%= user.character ? user.character.name : '' %></td>
            <td>
              <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
              <%= render user %>
            </td>
            <td><%= link_to("Delete user", admin_user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>