<table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <td><b>Station</b></td>
      <td><%= @corp.stationName %></td>
    </tr>
    <tr>
      <td><b>CEO</b></td>
      <td><%= @corp.ceoName %></td>
    </tr>
    <tr>
      <td><b>Tax Rate</b></td>
      <td><%= @corp.taxRate %></td>
    </tr>
    <tr>
      <td><b>Members</b></td>
      <td><%= @corp.memberCount %></td>
    </tr>
    <tr>
      <td><b>Shares</b></td>
      <td><%= @corp.shares %></td>
    </tr>
  </tbody>
</table>