<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "[D-M-P]" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dmp Site" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="admin <%= controller_name %> <%= action_name %>">
  <nav id="primary" class="admin-nav" >
    <ul>
     <li><%= active_link_to 'Users', users_path %></li>
    </ul>
  </nav>
  <%= yield(:secondary) %>
  <div id="main">
    <div class="top-nav">
      <div class="container-fluid">
        <div class="row-fluid ">
          <div class="span12">
            <ul class="breadcrumb pull-left">
              <%= yield(:breadcrumb) %>
            </ul>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.username %> <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <%= nav_link 'Your Account', edit_user_registration_path %>
                    <% if current_user.has_role? :admin %>
                      <%= nav_link 'Admin', users_path %>
                    <% end %>
                    <li class="divider"></li>
                    <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</div>
</body>
</html>