<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "[D-M-P]" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dmp Site" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="admin <%= controller_name %> <%= action_name %>">
  <nav id="primary" class="admin-nav" >
    <ul>
      <li>
        <a href="stats.html"><i class="icon-user icon-white"></i>Admin</a>
      </li>
      <%= nav_link 'Users', users_path %>
    </ul>
  </nav>
  <%= yield(:secondary) %>
  <div id="main">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</div>
</body>
</html>