<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "[D-M-P]" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dmp Site" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <nav class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>
  </div>
  <div class="header">
    <div class="container">
      <h1>[D-M-P]</h1>
      <p class="lead">Dangerous Metaphysical Productions - <small>An Industry Corporation</small></p>
    </div>
  </div>
  <div id="main" role="main">
    <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
    </div>
  </div>
</div>
</body>
</html>