<!DOCTYPE html>
<html class="hub">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "[D-M-P]" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dmp Site" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="hub <%= controller_name %> <%= action_name %>">
  <nav id="primary" class="hub-nav" >
    <ul>
      <li><%= active_link_to 'Corp', corporation_index_path, :class=>'icon-globe' %></li>
       <li><%= active_link_to 'Character', character_path(current_user.primary_character_id), :class=>'icon-user' %></li>
      <li><%= active_link_to 'Account', account_path, :class=>'icon-cog' %></li>
      <% if current_user.has_role? :admin %>
        <li><%= active_link_to 'Admin', admin_users_path, :class=>'icon-cogs' %></li>
      <% end %>
      <li><%= active_link_to 'Logout', logout_path, :class=>'icon-signout', :method=>'delete' %></li>
    </ul>
  </nav>
  <%= yield(:secondary) %>
  <div id="hub">
    <div class="top-nav">
      <div class="container-fluid">
        <div class="row-fluid ">
          <div class="span12">
            <ul class="breadcrumb pull-left">
              <%= yield(:breadcrumb) %>
            </ul>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li><a href="#" class="btn btn-mini btn-inverse"><%= current_user.username %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% if flash %>
    <div class="container-fluid">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %> mt20">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>