<!DOCTYPE html>
<html class="hub">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "[D-M-P]" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dmp Site" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="hub <%= controller_name %> <%= action_name %>">
  <div id="hub">
    <%= render 'layouts/messages' %>
    <div class="container">
      <div class="row-fluid mt20">
          <h1>Hello <%= @user.username %></h1>
      </div>
      <div class="row-fluid mt20">
        <div class="box">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>